body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  .about{
    color: #007BFF;
    text-align: center;
  }
  section {
    padding: 20px;
    margin: 10px;
    background: blanchedalmond;
    border-radius: 8px;
  }
  .h2{
    color: #007BFF;
  }
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  .project {
    margin-bottom: 15px;
  }
  .p1{
    color: #007BFF;
    margin-bottom: auto;
  }
  a :hover{
    color: #007BFF;
    text-decoration: none;
  }
  footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
  }
  @media screen and (max-width: 600px) {
    header h1 {
      font-size: 22px;
    }
  }
  /* Desktop view */
  @media screen and (min-width: 601px) {
    body {
      margin: 0 auto;
      max-width: 1000px;
    }
  }
  